[submodule "Buckshot/vendor/spdlog"]
	path = Buckshot/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Buckshot/vendor/GLFW"]
	path = Buckshot/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Buckshot/vendor/ImGui"]
	path = Buckshot/vendor/ImGui
	url = https://github.com/TheCherno/imgui
